In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('iot.csv')

In [3]:
data.head()

   Unnamed: 0     0     1  2
0           0  45.0  39.0  2
1           1  33.0  39.0  1
2           2  66.0  36.0  3
3           3  44.0  30.0  2
4           4  78.0  32.0  3

In [4]:
data.tail()

     Unnamed: 0     0     1  2
335         335  59.0  32.0  2
336         336  68.0  39.0  3
337         337  42.0  35.0  2
338         338  56.0  37.0  2
339         339  32.0  38.0  1

In [5]:
data.head(2)

   Unnamed: 0     0     1  2
0           0  45.0  39.0  2
1           1  33.0  39.0  1

In [6]:
data.tail(2)

     Unnamed: 0     0     1  2
338         338  56.0  37.0  2
339         339  32.0  38.0  1

In [7]:
data.columns

Index(['Unnamed: 0', '0', '1', '2'], dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  340 non-null    int64
 1   0           340 non-null    float64
 2   1           340 non-null    float64
 3   2           340 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 10.8 KB

In [9]:
data.describe()

       Unnamed: 0           0           1           2
count  340.000000  340.000000  340.000000  340.000000
mean   169.500000   60.294118   34.352941    2.352941
std     98.293777   22.780379    2.985534    1.221304
min      0.000000   20.000000   30.000000    0.000000
25%     84.750000   41.000000   32.000000    1.000000
50%    169.500000   60.000000   34.000000    2.000000
75%    254.250000   78.000000   37.000000    3.000000
max    339.000000   99.000000   39.000000    4.000000

In [12]:
data['0'][1:10]

1    33.0
2    66.0
3    44.0
4    78.0
5    60.0
6    80.0
7    92.0
8    78.0
9    31.0
Name: 0, dtype: float64

In [13]:
data['1'][1:10]

1    39.0
2    36.0
3    30.0
4    32.0
5    36.0
6    37.0
7    39.0
8    31.0
9    36.0
Name: 1, dtype: float64

In [14]:
# Input Variables - X
X=data.iloc[:,1:-1]

In [15]:
X

        0     1
0    45.0  39.0
1    33.0  39.0
2    66.0  36.0
3    44.0  30.0
4    78.0  32.0
..    ...   ...
335  59.0  32.0
336  68.0  39.0
337  42.0  35.0
338  56.0  37.0
339  32.0  38.0

[340 rows x 2 columns]

In [16]:
# Output Variables - Target - Dependent Variables
Y=data.iloc[:,-1]

In [17]:
Y

0      2
1      1
2      3
3      2
4      3
      ..
335    2
336    3
337    2
338    2
339    1
Name: 2, Length: 340, dtype: int64

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
type(Y)

pandas.core.series.Series

In [20]:
X=X.values

In [21]:
X

array([[45., 39.],
       [33., 39.],
       [66., 36.],
       [44., 30.],
       [78., 32.],
       [60., 36.],
       [80., 37.],
       [92., 39.],
       [78., 31.],
       [31., 36.],
       [31., 31.],
       [68., 31.],
       [81., 35.],
       [20., 30.],
       [58., 33.],
       [47., 30.],
       [51., 33.],
       [94., 33.],
       [67., 37.],
       [95., 31.],
       [22., 36.],
       [66., 35.],
       [64., 31.],
       [77., 31.],
       [83., 34.],
       [48., 36.],
       [61., 35.],
       [50., 36.],
       [85., 33.],
       [41., 30.],
       [91., 39.],
       [45., 37.],
       [36., 38.],
       [25., 34.],
       [27., 39.],
       [96., 36.],
       [76., 36.],
       [47., 30.],
       [44., 31.],
       [30., 38.],
       [71., 34.],
       [98., 38.],
       [34., 35.],
       [67., 39.],
       [78., 34.],
       [85., 38.],
       [48., 39.],
       [54., 37.],
       [60., 34.],
       [80., 36.],
       [75., 33.],
       [68., 35.],
       [71., 32.],
       [44., 36.],
       [57., 35.],
       [25., 30.],
       [35., 32.],
       [90., 37.],
       [97., 39.],
       [67., 35.],
       [33., 39.],
       [29., 34.],
       [79., 31.],
       [25., 39.],
       [98., 33.],
       [60., 39.],
       [90., 37.],
       [66., 38.],
       [43., 38.],
       [36., 31.],
       [59., 36.],
       [67., 38.],
       [59., 37.],
       [95., 35.],
       [92., 34.],
       [89., 34.],
       [74., 37.],
       [59., 35.],
       [25., 36.],
       [41., 35.],
       [39., 31.],
       [43., 38.],
       [98., 39.],
       [24., 33.],
       [59., 35.],
       [51., 37.],
       [64., 35.],
       [21., 34.],
       [86., 30.],
       [43., 32.],
       [92., 31.],
       [74., 37.],
       [77., 30.],
       [29., 35.],
       [47., 32.],
       [59., 37.],
       [96., 38.],
       [62., 39.],
       [99., 38.],
       [83., 37.],
       [61., 32.],
       [46., 31.],
       [97., 36.],
       [95., 30.],
       [74., 35.],
       [81., 32.],
       [73., 37.],
       [92., 34.],
       [91., 38.],
       [52., 36.],
       [70., 33.],
       [99., 34.],
       [59., 36.],
       [95., 31.],
       [63., 32.],
       [26., 39.],
       [50., 30.],
       [83., 39.],
       [25., 33.],
       [51., 31.],
       [92., 36.],
       [79., 31.],
       [99., 30.],
       [96., 31.],
       [77., 33.],
       [68., 37.],
       [30., 33.],
       [76., 39.],
       [31., 34.],
       [91., 34.],
       [86., 31.],
       [90., 32.],
       [24., 30.],
       [24., 33.],
       [21., 37.],
       [39., 34.],
       [77., 30.],
       [61., 31.],
       [25., 32.],
       [72., 32.],
       [34., 39.],
       [27., 37.],
       [82., 30.],
       [79., 30.],
       [37., 31.],
       [96., 30.],
       [79., 32.],
       [59., 36.],
       [90., 32.],
       [68., 34.],
       [24., 38.],
       [90., 31.],
       [35., 31.],
       [71., 31.],
       [25., 31.],
       [77., 30.],
       [28., 35.],
       [33., 37.],
       [89., 36.],
       [43., 31.],
       [55., 38.],
       [80., 39.],
       [42., 34.],
       [43., 33.],
       [29., 30.],
       [35., 35.],
       [24., 34.],
       [23., 38.],
       [72., 32.],
       [56., 34.],
       [80., 30.],
       [30., 38.],
       [41., 37.],
       [96., 37.],
       [41., 34.],
       [28., 31.],
       [28., 35.],
       [73., 31.],
       [69., 33.],
       [59., 31.],
       [40., 34.],
       [59., 30.],
       [30., 30.],
       [53., 32.],
       [78., 32.],
       [64., 38.],
       [93., 35.],
       [40., 30.],
       [96., 37.],
       [30., 37.],
       [83., 33.],
       [72., 31.],
       [44., 30.],
       [80., 38.],
       [37., 33.],
       [78., 34.],
       [65., 32.],
       [49., 30.],
       [69., 38.],
       [30., 35.],
       [83., 35.],
       [85., 34.],
       [55., 31.],
       [51., 36.],
       [71., 39.],
       [83., 34.],
       [57., 39.],
       [38., 30.],
       [37., 35.],
       [58., 34.],
       [42., 35.],
       [60., 37.],
       [40., 37.],
       [66., 38.],
       [22., 33.],
       [69., 30.],
       [83., 38.],
       [53., 31.],
       [70., 30.],
       [38., 30.],
       [54., 37.],
       [76., 31.],
       [46., 31.],
       [84., 39.],
       [76., 34.],
       [32., 38.],
       [94., 34.],
       [79., 38.],
       [51., 30.],
       [43., 37.],
       [44., 33.],
       [74., 38.],
       [41., 32.],
       [68., 33.],
       [59., 39.],
       [39., 36.],
       [41., 37.],
       [53., 39.],
       [48., 34.],
       [60., 36.],
       [63., 34.],
       [96., 39.],
       [27., 34.],
       [39., 34.],
       [71., 39.],
       [86., 37.],
       [50., 39.],
       [27., 33.],
       [81., 35.],
       [36., 34.],
       [95., 31.],
       [32., 38.],
       [58., 30.],
       [47., 37.],
       [69., 36.],
       [70., 31.],
       [72., 33.],
       [52., 31.],
       [51., 30.],
       [61., 33.],
       [28., 30.],
       [60., 39.],
       [94., 32.],
       [94., 30.],
       [92., 39.],
       [77., 39.],
       [92., 32.],
       [83., 31.],
       [53., 32.],
       [61., 36.],
       [78., 31.],
       [40., 36.],
       [60., 34.],
       [99., 39.],
       [44., 35.],
       [90., 36.],
       [59., 30.],
       [78., 38.],
       [32., 38.],
       [20., 32.],
       [60., 39.],
       [85., 33.],
       [55., 39.],
       [98., 39.],
       [21., 32.],
       [68., 34.],
       [20., 31.],
       [70., 38.],
       [31., 34.],
       [49., 35.],
       [89., 30.],
       [32., 33.],
       [65., 39.],
       [70., 31.],
       [63., 36.],
       [49., 30.],
       [54., 30.],
       [92., 34.],
       [24., 31.],
       [99., 30.],
       [62., 31.],
       [65., 34.],
       [49., 30.],
       [62., 30.],
       [33., 38.],
       [22., 31.],
       [66., 38.],
       [83., 32.],
       [99., 37.],
       [93., 34.],
       [78., 36.],
       [71., 31.],
       [95., 36.],
       [29., 38.],
       [20., 32.],
       [92., 36.],
       [87., 36.],
       [71., 32.],
       [71., 33.],
       [76., 35.],
       [27., 33.],
       [46., 33.],
       [72., 35.],
       [60., 33.],
       [37., 33.],
       [75., 39.],
       [31., 38.],
       [74., 30.],
       [38., 39.],
       [55., 38.],
       [72., 33.],
       [22., 36.],
       [56., 36.],
       [53., 34.],
       [64., 32.],
       [59., 32.],
       [68., 39.],
       [42., 35.],
       [56., 37.],
       [32., 38.]])

In [22]:
type(X)

numpy.ndarray

In [23]:
Y=Y.values

In [24]:
type(Y)

numpy.ndarray

In [25]:
# Splitting the Data into Train and Test Data
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [26]:
X_train.shape

(272, 2)

In [27]:
X_test.shape

(68, 2)

In [28]:
len(Y_train)

272

In [29]:
len(Y_test)

68

In [30]:
# Supervised - Labelled Data - Outcome Variable is known
# Unsupervised - Unlabelled Data - Outcome Variable is not known

# Supervised - Regression - Predict a numerical outcome (salary, rental)
# Supervised - Classification - Predict a categorical class (label)

# Classification - Binary - Logistic Regression
# Classification - Multi Class - KNN, Random Forest, Decision Tree, SVM

In [31]:
from sklearn.neighbors import KNeighborsClassifier

classifier=KNeighborsClassifier(n_neighbors=5)

In [32]:
# Train the model
classifier.fit(X_train,Y_train)

KNeighborsClassifier()

In [33]:
Y_pred=classifier.predict(X_test)

In [35]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test,Y_pred)*100)

91.17647058823529

In [40]:
import pickle

model=open('model.pkl','wb')
pickle.dump(classifier,model)
model.close()